.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-body {
  text-align: center;
  padding: 20px;
}
.icon {
  width: 200px;
  height: 200px;
}
h2 {
  margin-top: 10px;
}
p {
  color: lightslategray;
  text-align: center;
  margin: 10px 0;
}
form {
  padding: 20px 0;
}
.form-group {
  margin: 10px 20px;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.btn-primary {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.card-footer {
  text-align: right;
  padding: 10px 20px;
}
small a {
  color: #007bff;
  text-decoration: none;
}
