<div class="main-container">
  <div class="nav-container">
    <ul>
      <!-- <li><a routerLinkActive="active" routerLink="home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="about">About</a></li>
      <li><a routerLinkActive="active" routerLink="contact">Contact</a></li>
      <li><a routerLinkActive="active" routerLink="books">Books</a></li> -->
      <li><a routerLink="" fragment="homeFr">Home</a></li>
      <li><a routerLink="" fragment="aboutFr">About</a></li>
      <li><a routerLink="" fragment="contactFr">Contact</a></li>
      <li><a routerLink="" fragment="booksFr">Books</a></li>
    </ul>
  </div>
  <div class="component-container">
    <app-home id="homeFr"></app-home>
    <app-about id="aboutFr"></app-about>
    <app-contact id="contactFr"></app-contact>
    <app-books-overview id="booksFr"></app-books-overview> 
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
