img {
  margin-top: 50px;
  width: 130px;
  height: 130px;
}
.user {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.name {
  padding-top: 20px;
  margin: 0;
  font-weight: bold;
  font-size: large;
}
.menu-head {
  text-transform: uppercase;
  font-weight: 800;
  font-size: large;
  text-align: center;
  width: 100%;
  margin: 20px 0 15px 0;
}
.menu-button {
  font-size: larger;
  font-weight: bold;
  display: flex;
  padding-left: 25%;
  margin: 5px;
}

mat-icon {
  color: darkslategray;
  transform: scale(1.5);
}


