input[type="text"],
[type="email"],
[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #8edef0;
  border-radius: 4px;
  box-sizing: border-box;
}
.inline {
  width: 195px;
  display: inline-block;
}
.container {
  display: flex;
}
input[type="submit"] {
  width: 100%;
  background-color: #187fed;
  color: white;
  padding: 14px 20px;
  margin: 15px 0 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}
input[type="submit"]:hover {
  background-color: #1450d1;
}
.form {
  border-radius: 5px;
  background-color: #c9ecfb;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
  font-size: 20px;
}
label {
  padding-left: 10px;
}
button {
  display: block;
  margin-bottom: 20px;
}

input.ng-touched.ng-invalid {
  outline: red 2px solid;
}

.add-skill-button {
  margin: auto;
  background-color: lightgreen;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
}
.add-skill-button:hover {
  background-color: green;
  color: white;
}

.INVALID {
  border: red 2px solid;
  box-shadow: 0px 0px 30px red;
}
.PENDING {
  border: yellow 2px solid;
  box-shadow: 0px 0px 30px yellow;
}
.VALID {
  border: green 2px solid;
  box-shadow: 0px 0px 30px green;
}
