<div class="navbar">
  <div class="user">
    <div style="margin-top: 2px">
        <h1 style="font-weight: bolder;font:400 1.562rem / 4rem Roboto, sans-serif">Upcoming Events:</h1>
         <mat-icon
         style="margin-top: 2px; transform: scale(2);"
         aria-hidden='false'
         matBadge="2" matBadgeSize="small"
         matBadgeColor="warn">perm_contact_calendar
         </mat-icon>
       </div>
       
    <img
      src="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295429_1280.png"
      alt="user_avatar"
    />
    <h3 class="name">Admin</h3>
    <p class="mail">mail&#64;yahoo.com</p>
  </div>
  <hr />
  <div class="menu">
    <div class="menu-head">Dashboard</div>
    <div class="menu-item">
      <button mat-button class="menu-button" routerLink="">
        <mat-icon>streetview</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-button class="menu-button" routerLink="messages">
        <mat-icon>perm_device_information</mat-icon>
        <span>Messages</span>
      </button>
      <button mat-button class="menu-button" routerLink="about-us">
        <mat-icon>accessibility_new</mat-icon>
        <span>About Us</span>
      </button>
      <button mat-button class="menu-button" routerLink="services">
        <mat-icon>pages</mat-icon>
        <span>Services</span>
      </button>
      <button mat-button class="menu-button" routerLink="contact">
        <mat-icon>markunread_mailbox</mat-icon>
        <span>Contact</span>
      </button>
      <button mat-button class="menu-button" routerLink="settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </div>
  </div>
</div>
