<footer id="footer" class="footer">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="rights">
          <span>Copyright © 2019, All Rights Reserved - RAV Datum</span>
        </div>
        <!-- End Col -->
        <div>
          <div class="copyright-menu">
            <ul class="footer-nav">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
</footer>
